Django==1.7.2
Pillow==2.6.1
defusedxml==0.4.1
django-allauth==0.18.0
django-bootstrap3==5.0.3
django-configurations==0.8
ipython==2.3.0
oauthlib==0.7.2
python3-openid==3.0.5
requests==2.5.0
requests-oauthlib==0.4.2
